<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
</li>
<li>
    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Product</a>
</li>
<li>
    <a class="nav-link text-dark" asp-area="" asp-controller="Inventories" asp-action="Index">Inventory</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Sales" asp-action="Index">Monthly Reports</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Sales" asp-action="SaleAmountInCurrentMonth">Monthly Revenue</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Sales" asp-action="CountOfSalesInCurrentMonth">Monthly Products Sold</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Sales" asp-action="CustomerListInCurrentMonth">Customers List</a>
</li>